<div class="container" style="margin-top: 20px; padding-top: 10px;">

  <div class='row'>
    <div class='col-md-12  ' >
      <app-search (search)="searchDoctor($event)" ></app-search>
    </div>

    <div class='col-md-6'>
      <app-doctor-list
        [doctors]="doctor$ | async"
        [selectedDoctor]="selectedDoctor$ | async"
        [errorMessage]="errorMessage$ | async"
        (selected)="doctorSelected($event)"
        (setPage)="setPNo($event)"
        [page]="num$ | async"
      ></app-doctor-list>
    </div>
    <div class='col-md-6'>
      <app-doctor-details
        [selectedDoctor]="selectedDoctor$ | async"
        [errorMessage]="errorMessage$ | async"
      ></app-doctor-details>
    </div>
  </div>
</div>
